<section class="showcase text-center">
    <div class="container">
        <div class="showcase-content">
            <h2>We have Latest News</h2>
            <h3>Let's check together</h3>
            <hr>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odit labore alias sapiente, ipsum culpa vero eligendi, facere nemo nobis dolor reprehenderit facilis minima quam distinctio sit. Provident, error doloremque?

            </p>
            <a href="#" class="btn btn-dark">Find Out More</a>
        </div>
    </div>
</section>

<!--Testimonials-->
<section class="quote p-3">
<div class="containter text-center">
    <h2>#1 News Website Globally</h2>
    <div class="row my-5">
        <div class="col-md-4 col-sm-12">
            <i class="fas fa-quote-left text-dark fa-3x mbt-3"></i>
            <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odio quo tenetur quam accusamus. Sunt asperiores est repudiandae necessitatibus aliquid, commodi rem ea laboriosam esse. Velit provident officia iusto voluptatum.</p>
            <footer class="blockquote-footer mt-2"></footer>
                John Doe
        </div>
        <div class="col-md-4 col-sm-12">
            <i class="fas fa-quote-left text-dark fa-3x mbt-3"></i>
            <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quisquam quibusdam quia distinctio ut nam consequuntur tenetur deserunt repellendus, repellat ratione perspiciatis provident consequatur quis possimus laboriosam beatae nulla expedita.</p>
            <footer class="blockquote-footer mt-3"></footer>
                Mark Twain
        </div>
        <div class="col-md-4 col-sm-12">
            <i class="fas fa-quote-left text-dark fa-3x mbt-3"></i>
            <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis non reiciendis itaque possimus minima, autem quisquam natus doloremque nostrum tenetur omnis ab aperiam, consectetur, est aliquid eaque nemo.</p>
            <footer class="blockquote-footer mt-3"></footer> <!--Ashan yezhrly 3lmt el dash gamb el esm-->
                Blue Steele
        </div>
    </div>


</div>

</section>

<section class="carosuel mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../assets/img/br1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/img/br2.jpg" class="d-block w-100" alt="...">
                      </div>
                  
                    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptates rerum possimus ducimus, provident similique! Obcaecati, ut, quaerat accusamus quia non, dolores esse numquam quas laboriosam id natus magni facilis.
                </p>
                <a href="#">Find Out More <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>